<div ng-controller="logqryController">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom" my-tab data-config="tabConfig">
                <ul class="nav nav-tabs">
                    <li class="active"><a target="#qry_tab" data-toggle="tab">查询</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="qry_tab" ng-include="tabPage">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>