<div class="row" ng-controller="warnruleController">
    <div class="width-animate" ng-class="{'col-md-9':showEdit,'col-md-12':!showEdit}">
        <div class="box box-primary ">

            <div class="box-header with-border">
                <h3 class="box-title">警告规则</h3>

            </div>
            <div class="box-header with-border">
                <div style="width:300px;">
                    <div class="input-group">
                        <input type="text" name="table_search" class="form-control input-sm" placeholder="名称" ng-model="condition">

                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-success" ng-click="searchByCondition();"><i class="fa fa-search"></i></button>
                            &nbsp;&nbsp;
                        </div>
                    </div>
                </div>

                <div class="tools">
                    <button class="btn btn-sm btn-success" ng-click="add();"><i class="fa fa-plus"></i>&nbsp;&nbsp;添加警告
                    </button>
                </div>

            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-hover table-striped">
                    <tbody>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>描述</th>
                        <th>最后一次日志</th>
                        <th>频率</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="warnRule in warnRules track by $index">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ warnRule.name }}</td>
                        <td>{{ warnRule.description }}</td>
                        <td ng-show="warnRule.lastTime">{{warnRule.lastTime}}</td>
                        <td ng-hide="warnRule.lastTime">n/a</td>
                        <td>{{ warnRule.frequency }}{{ warnRule.frequencyUnit }}</td>
                        <!--<td>{{ warnRule.status }}</td>-->
                        <td ng-show="warnRule.disabled" style="color: red">无效</td>
                        <td ng-show="!warnRule.disabled" style="color: green">有效</td>
                        <td><i title='关闭警告' class="fa chart-icon fa-bell-slash-o" ng-show="warnRule.warning" ng-click="switchWarning(warnRule);"></i>
                            <i title='打开警告' class="fa chart-icon fa-bell-o" ng-hide="warnRule.warning" ng-click="switchWarning(warnRule);"></i>&nbsp;&nbsp;
                            <i title="启用" class="fa chart-icon fa-check-circle-o" ng-show="warnRule.disabled" ng-click="swithStop(warnRule)"></i>
                            <i title="停用" class="fa chart-icon fa-ban" ng-hide="warnRule.disabled" ng-click="swithStop(warnRule)"></i>&nbsp;&nbsp;
                            <i title="编辑" class="fa  fa-edit chart-icon" ng-click="edit(warnRule);"></i>&nbsp;&nbsp;
                            <i class="fa fa-trash chart-icon" ng-click="remove(warnRule.id);"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer" ng-show="page.totalPage > 1">
                <pagination current-page="currentPage" total-page="page.totalPage"
                            on-select-page="queryByPage(page);"></pagination>
            </div>


            <div class="overlay hide">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
    <div class="width-animate pull-right" ng-class="{'col-md-3':showEdit,'width-0':!showEdit}">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">监控设置</h3>

                <div class="box-tools">
                    <i class="fa fa-times" ng-click="changeEdit(false);"></i>
                </div>
            </div>

            <div class="box-header with-border">
                <div class="form-group">
                    <label class='required-field'>监控名称</label>
                    <input type="text" class="form-control" placeholder="" ng-model="warnRule.name">
                </div>
                <div class="form-group">
                    <label>描述</label>
                    <input type="text" class="form-control" placeholder="" ng-model="warnRule.description">
                </div>
                <div class="form-group no-margin">
                    <label class='required-field'>基于查询</label>
                    <select class='form-control ng-pristine ng-valid ng-touched' ng-model="warnRule.queryField" ng-change="changeQueryField();">
                        <option ng-repeat="field in fields" value="{{field.id}}">{{field.name}}</option>
                    </select>
                </div>
            </div>
            <div class="box-header with-border">
                <div class="form-group ">
                    <label class='required-field'>警告类型</label>
                    <select class='form-control ng-pristine ng-valid ng-touched' ng-model="warnRule.type" ng-change="changeWarnType(warnRule.type);">
                        <option ng-repeat="warnType in warnTypes" value="{{ warnType.value }}"  ng-selected='warnRule.type == warnType.value'>{{ warnType.tooltip }}</option>
                    </select>
                </div>
                <!-- 对应日志数 -->
                <div class="form-group no-margin" style='{{ warnTypes[0].css }}'>
                    <label class='required-field'>触发条件</label><br>
                    <input type="text" ng-model="warnRule.minutes"
                           class="form-control ng-pristine ng-valid ng-touched" placeholder=""
                           style="width: 18%; display: inline-block; margin-right:2%;">
                    <span style="width: 15%; line-height: 34px;">分钟内，日志数</span>
                    <select class='form-control ng-pristine ng-valid ng-touched'
                            style='width:23%;display: inline-block; margin-left:2%; margin-right:2%;vertical-align: bottom;' ng-model="warnRule.comSymbol">
                        <option ng-repeat="comSymbol in comSymbols" value="{{ comSymbol.value }}">{{ comSymbol.tooltip }}</option>
                    </select><input type="text"
                                    class="form-control ng-pristine ng-valid ng-touched" placeholder=""
                                    style="width: 18%; display: inline-block; " ng-model="warnRule.peakValue">
                </div>

                <!-- 字段统计 -->
                <div class="form-group no-margin" style='{{ warnTypes[1].css }}'>
                    <label class='required-field'>触发条件</label><br>
                    <select class='form-control ng-pristine ng-valid ng-touched'
                            style='width: 40%; display: inline-block; margin-right:2%;' ng-model="warnRule.fieldName">
                        <option ng-repeat="field in allFields" value="{{ field }}" ng-selected='warnRule.fieldName == field'>{{ field }}</option>
                    </select>
                    <span
                        style="width: 15%; line-height: 34px; margin-right:2%;">在
                </span><input type="text" ng-model="warnRule.minutes"
                              class="form-control ng-pristine ng-valid ng-touched"
                              placeholder=""
                              style="width: 24%; display: inline-block; margin-right:2%;"><span
                        style="width: 15%; line-height: 34px;">分钟内，</span><br><br>
                    <select class='form-control ng-pristine ng-valid ng-touched' ng-model="warnRule.dimension"
                            style='width:40%;display: inline-block; vertical-align: bottom;'>
                        <option ng-repeat="dimension in dimensions" value="{{ dimension.value }}">{{ dimension.tooltip }}</option>
                    </select><select class='form-control ng-pristine ng-valid ng-touched'
                                     style='width:24%;display: inline-block; margin-left:2%; margin-right:2%;vertical-align: bottom;' ng-model="warnRule.comSymbol">
                    <option ng-repeat="comSymbol in comSymbols" value="{{ comSymbol.value }}">{{ comSymbol.tooltip }}</option>
                </select><input type="text" ng-model="warnRule.peakValue"
                                class="form-control ng-pristine ng-valid ng-touched" placeholder=""
                                style="width: 24%; display: inline-block; ">
                </div>

                <!-- 连续统计 -->
                <!--<div class="form-group no-margin" style='{{ warnTypes[2].css }}'>-->
                    <!--<label class='required-field'>触发条件</label><br>-->
                    <!--<select class='form-control ng-pristine ng-valid ng-touched'-->
                            <!--style='width: 40%; display: inline-block; margin-right:2%;' ng-model="warnRule.fieldName">-->
                        <!--<option ng-repeat="field in allFields" value="{{ field }}">{{ field }}</option>-->
                    <!--</select>-->
                    <!--<span style="width: 15%; line-height: 34px; margin-right:2%;">在</span><input type="text"-->
                                                   <!--ng-model="warnRule.minutes"-->
                                                   <!--class="form-control ng-pristine ng-valid ng-touched"-->
                                                   <!--placeholder=""-->
                                                   <!--style="width: 24%; display: inline-block; margin-right:2%;"><span-->
                        <!--style="width: 15%; line-height: 34px;">分钟内，</span><br><br>-->
                    <!--<span style="width: 15%; line-height: 34px; margin-right:2%;">达到</span><input type="text"-->
                                                  <!--ng-model="warnRule.peakValue"-->
                                                  <!--class="form-control ng-pristine ng-valid ng-touched"-->
                                                  <!--placeholder=""-->
                                                  <!--style="width: 24%; display: inline-block; ">-->
                    <!--<select ng-model="warnRule.dimension"-->
                        <!--class='form-control ng-pristine ng-valid ng-touched'-->
                        <!--style='width:24%;display: inline-block; margin-left:2%; margin-right:2%;vertical-align: bottom;'>-->
                    <!--<option ng-repeat="comSymbol in comSymbols" value="{{ comSymbol.value }}">{{ comSymbol.tooltip }}</option>-->
                <!--</select><input type="text" ng-model="warnRule.count"-->
                                <!--class="form-control ng-pristine ng-valid ng-touched" placeholder=""-->
                                <!--style="width: 24%; display: inline-block; "><span-->
                        <!--style="line-height: 34px; margin-left:2%;">次</span>-->
                <!--</div>-->

                <!-- 基线对比 -->
                <!--<div class="form-group no-margin" style="{{ warnTypes[3].css }}">-->
                    <!--<label class='required-field'>触发条件</label><br>-->
                    <!--<select class='form-control ng-pristine ng-valid ng-touched'-->
                            <!--style='width: 40%; display: inline-block; margin-right:2%;' ng-model="warnRule.fieldName">-->
                        <!--<option ng-repeat="field in allFields" value="{{ field }}">{{ field }}</option>-->
                    <!--</select>-->
                    <!--<span style="width: 15%; line-height: 34px; margin-right:2%;">在</span><input type="text"-->
                                               <!--ng-model="warnRule.minutes"-->
                                               <!--class="form-control ng-pristine ng-valid ng-touched"-->
                                               <!--placeholder=""-->
                                               <!--style="width: 24%; display: inline-block; margin-right:2%;"><span-->
                        <!--style="width: 15%; line-height: 34px;">分钟内，</span><br><br>-->
                    <!--<span style="width: 15%; line-height: 34px; margin-right:2%;">查找结果</span><select-->
                        <!--class='form-control ng-pristine ng-valid ng-touched'-->
                        <!--style='width:24%;display: inline-block; margin-left:2%; margin-right:2%;vertical-align: bottom;' ng-model="warnRule.dimension">-->
                    <!--<option ng-repeat="comSymbol in comSymbols" value="{{ comSymbol.value }}">{{ comSymbol.tooltip }}</option>-->
                <!--</select><input type="text" ng-model="warnRule.peakValue"-->
                                <!--class="form-control ng-pristine ng-valid ng-touched" placeholder=""-->
                                <!--style="width: 24%; display: inline-block; "><span-->
                        <!--style="line-height: 34px; margin-left:2%;">%基线值</span><br><br>-->
                    <!--<span style="line-height: 34px; margin-right:2%;">基线时间</span><select-->
                        <!--class='form-control ng-pristine ng-valid ng-touched'-->
                        <!--style='width:50%;display: inline-block; margin-left:2%; margin-right:2%;vertical-align: bottom;' ng-model="warnRule.peakTime">-->
                    <!--<option value="30min">30分钟</option>-->
                    <!--<option value="60min">60分钟</option>-->
                    <!--<option value="3hour">3小时</option>-->
                    <!--<option value="6hour">6小时</option>-->
                    <!--<option value="12hour">12小时</option>-->
                    <!--<option value="24hour">24小时</option>-->
                    <!--<option value="3day">3天</option>-->
                    <!--<option value="selfDefinition">自定义</option>-->
                <!--</select><br>-->
                <!--</div>-->
            <!--</div>-->
            <div class="box-header with-border">
                <div class="form-group no-margin">
                    <label>监控频率</label>

                    <div style="padding: 10px;">
                        <input style="width: 100%;" my-slider="" type="text" data-opts="sliderOpts" ng-model="warnRule.frequency"/>
                    </div>

                </div>
            </div>
            <div class="box-header with-border">
                <div class="form-group no-margin">
                    <label>接受警告邮箱</label>
                    <input type="email" class="form-control" placeholder="" ng-model="warnRule.email">
                    <button class="btn btn-plain" ng-click="changeWarning();">
                        <i class="fa {{warningObj.css}}"></i>&nbsp;{{warningObj.tooltip}}
                    </button>
                    &nbsp;&nbsp;
                    <button class="btn btn-plain" ng-click="changeStop();">
                        <i class="fa {{stopObj.css}}"></i>&nbsp;{{stopObj.tooltip}}
                    </button>
                </div>
            </div>
            <div class="box-body">
                <button class="btn btn-success " ng-click="saveOrUpdate();"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;确认
                </button>
                <button class="btn btn-plain pull-right" ng-click="remove();">
                    <i class="fa fa-trash"></i>&nbsp;删除
                </button>
                <div my-confirm config="confirmCfg"></div>
            </div>
        </div>
    </div>
</div>